<div>
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
				In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<div class="group">
						<label for="user" class="label">Username</label>
						<input id="user" type="text" class="input">
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="password" class="input" data-type="password">
					</div>
					<div class="group">
						<input id="check" type="checkbox" class="check" checked>
						<label for="check"><span class="icon"></span> Keep me Signed in</label>
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign In">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="#forgot">Forgot Password?</a>
					</div>
				</div>
				<div class="sign-up-htm">
					<div class="group">
						<label for="user" class="label">First Name</label>
						<input id="user" type="text" class="input" v-model="userInfo.firstName" v-validate="'required'" name="firstName">
						<!-- <span class="error_text" v-if="errors.has('firstName')">{{errors.first('firstName')}}</span> -->
					</div>
					<div class="group">
						<label for="pass" class="label">Last Name</label>
						<input id="pass" type="text" class="input"  v-model="userInfo.lastName">
					</div>
					<div class="group">
						<label for="pass" class="label">Email/Mobile No</label>
						<input id="pass" type="text" class="input" v-model="userInfo.contact">
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign Up" @click="signUp">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<label for="tab-1">Already Member?</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>