<template src='./UserDetails.html'>
    
</template>
<script lang=ts>
import { Component, Vue } from "vue-property-decorator";
import Axios from "axios";
import Datepicker from 'vuejs-datepicker';
import {UserInfoModel} from '../../../models/user-info.model';
import { BASE_API_URL } from "../../../config";


@Component({components:{Datepicker}})
export default class UserDetails extends Vue {
    public years:any =[];
    public userData:any = new UserInfoModel();

    public async validateAndSubmit(){
        try {
            const response = await Axios.post(
        BASE_API_URL +"user/saveUserInfo",
        
        this.userData
      );
            
        } catch (error) {
            
        }
    }

    public async getYearsInNumbers(){
        
        for (let i = 0; i < 45; i++) {
            this.years.push(i+' Years')
            
            
        }
    }

mounted(){
this.getYearsInNumbers();
console.log(this.userInfo);

}
}
</script>
<style >