<div>
    <div class="container">
        <h1>Personal Information</h1>
        <div class="form-group">
            <label for="exampleFormControlInput1">Full Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" v-model='userData.fullName' placeholder="Enter Full Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Mobile Number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" v-model="userData.mobileNumber" placeholder="Enter Mobile Number">
          </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" v-model='userData.email' placeholder="Enter Email Address">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Date Of Birth</label>
            <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email Address"> -->
            <Datepicker v-model="userData.dateOfBirth"  class="form-control"></Datepicker>
          </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Total Experience</label>
          <select class="form-control" v-model='userData.totalExperience' id="exampleFormControlSelect1">
            <option v-for='year in years'>{{year}}</option>
          </select>
        </div>
       
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload Resume(Optional)</label>
            <p>(*.doc, *.docx, *.rtf, *.txt, *.pdf) Max. 6 MB</p>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>

          <div class="form-group">
            <button type="submit" @click="validateAndSubmit" class="btn btn-primary">Save And Next</button>
          </div>
         
    </div>
</div>