<div>
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Set Password</label>
			<!-- <div class="login-form"> -->
				<!-- <div class="sign-in-htm"> -->
					<div class="group">
						<label for="user" style="color: white;">Email</label>
						<input id="user" type="text" class="input" v-model="userInfo.contactType" :disabled="userInfo.contactType">
					</div>
					<div class="group">
						<label for="pass" style="color: white;">Password</label>
						<input id="pass" type="password" class="input" data-type="password" v-model="userInfo.password">
					</div>
					<div class="group">
						<label for="pass" style="color: white;">Confirm Password</label>
						<input id="pass" type="password" class="input" data-type="password" v-model="userInfo.confirmPassword">
					</div>
					<div class="group">
						<input id="check" type="checkbox" class="check" checked>
						<label for="check"><span class="icon"></span> Keep me Signed in</label>
					</div>
					<div class="group">
						<input type="submit"  @click="setPassword()"  class="button" value="Sign In">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="#forgot">Forgot Password?</a>
					</div>
				<!-- </div> -->
			<!-- </div> -->
		</div>
	</div>
</div>